*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, blue , purple);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.clear-btn{
    color: white;
    background-color: red;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    height: 35px;
    &:hover{
        color: black;
    }
}
.add-btn{
    padding: 12px 20px;
    color: white;
    background-color: green;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.todo-app h2 img{
    width: 30px;
    height: 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: wheat;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    min-width: 80px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li span{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    &:hover{
        background-color: rgba(128, 128, 128, 0.261);
    }
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(right-tick.png)
}

@media screen and (max-width: 500px) {
    ul li{
        font-size: 12px;
    }
    ul li span{
        font-size: 12px;
    }
    ul li::before{
        width: 12px;
        height: 12px;
    }
    input{
        font-size: 10px;
    }
    .row button{
        font-size: 10px;
    }
}

